
@import './custom.scss';
@import './weather-icons.scss';
@import './weather-icons-wind.scss';

.card:hover {
  background-color: black;
  color: white;
  opacity: 0.8;
}



@include media-breakpoint-up(xs) {

  .detail-container {
       width: 100%;
  }

  .forecast-container {
    width: 100%;
  }


  .card-component {
    width: 100%;
  }

  img .weather-icon {
     width: 4rem;
     height: 4rem;
  }
 }
@include media-breakpoint-up(sm) {
  .detail-container {
       width: 100%;
  }

    .forecast-container {
      width: 83%;
    }


    .card-component {
      width: 100%;
    }

    img .weather-icon {
       width: 4rem;
       height: 4rem;
    }


  }
@include media-breakpoint-up(md) {
  .detail-container {
       width: 50%;
  }



  .forecast-container {
    width: 75%;
  }

  .card {
    flex: 1 1 0;
  }

  .card-component {
    width: 85%;
  }

  img .weather-icon {
     width: 3rem;
     height: 3rem;
  }

}
@include media-breakpoint-up(lg) {
  .detail-container {
       width: 50%;
  }


  .forecast-container {
    width: 66%;
  }

  .card {
    flex: 1 1 0;
  }

  .card-component {
    width: 85%;
  }

  img .weather-icon {
     width: 3rem;
     height: 3rem;
  }


 }

@include media-breakpoint-up(xl) {  }

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// font weather icons
.wi {
  font-size: 1.5em;
}

.cursor-pointer
{
  cursor: pointer;
}


button,
[role="button"] {
  cursor: pointer;
}



h1 {
  color: blue;
  /*font-size: calc(16px + 0.5vw);
   */
}

// Use following to center horizontally
// TODO: remove this?
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
