@import "./custom.scss";

@fontface {
  font-family: "Montserrat-Regular";
  src: url("./font/Montserrat-Regular.ttf") format("truetype");
}

@fontface {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  src: url("./font/Montserrat-Medium.ttf") format("truetype");
}

@fontface {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  src: url("./font/Montserrat-SemiBold.ttf") format("truetype");
}

@fontface {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("./font/Montserrat-Bold.ttf") format("truetype");
}

@fontface {
  font-family: "Montserrat-ExtraBold";
  font-weight: bold;
  src: url("./font/Montserrat-ExtraBold.ttf") format("truetype");
}

// Link underline effect
// from https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
#footer,
#poweredBy {
  a {
    position: relative;
    color: #007bff;
    text-decoration: none;
  }

  a::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover {
    text-decoration: none;
    color: #007bff;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.card {
  background-color: #fdfdfd;
}

.card:hover {
  background-color: black;
  color: white;
  opacity: 0.8;
}

.selected {
  @include opacity(0.5);
}

@include media-breakpoint-up(xs) {
  #timeOfDay {
    display: none;
  }

  .detail-container {
    width: 100%;
  }

  .forecast-container {
    width: 100%;
  }

  .card-component {
    width: 100%;
  }
}
@include media-breakpoint-up(sm) {
  .detail-container {
    width: 100%;
  }

  .forecast-container {
    width: 90%;
  }

  .card-component {
    width: 100%;
  }
}
@include media-breakpoint-up(md) {
  .detail-container {
    width: 50%;
  }

  .forecast-container {
    width: 90%;
  }

  .card {
    flex: 1 1 0;
  }

  .card-component {
    width: 85%;
  }
}
@include media-breakpoint-up(lg) {
  .detail-container {
    width: 50%;
  }

  .forecast-container {
    width: 80%;
  }

  .card {
    flex: 1 1 0;
  }

  .card-component {
    width: 85%;
  }
}

@include media-breakpoint-up(xl) {
}

body {
  margin: 0;
  font-family:
  // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont, "Montserrat-Regular", "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// font weather icons
.wi {
  font-size: 1.5em;
}

.larger-font {
  font-size: 1.5em;
}

.headers {
  font-size: 1.2em;
}

img {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

button,
[role="button"] {
  cursor: pointer;
}

#map {
  height: 50vw;
  width: 80%;
}

#timeOfDay svg {
  // hack to center svg need to overide default inline attr
  height: 1.5em !important;
  width: 1.5em !important;
}

// TODO: remove this?
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
