
@import './custom.scss';
@import './weather-icons.scss';
@import './weather-icons-wind.scss';


@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBF4FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {

}

// font weather icons
.wi {
  font-size: 1.5em;
}

.cursor-pointer
{
  cursor: pointer;
}



h1 {
  color: blue;
  /*font-size: calc(16px + 0.5vw);
   */
}

img .weather-icon {
   width: 50px;
   height: 50px;
}

// Use following to center horizontally
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
