.forecast-container {
  border-radius: 1rem;
  //background-color: #cbd7ed;
  /*  -webkit-box-shadow: 2px -2px 11px 6px rgba(238, 242, 249, 0.55);
  -moz-box-shadow: 2px -2px 11px 6px rgba(238, 242, 249, 0.55);
  box-shadow: 2px -2px 11px 6px rgba(238, 242, 249, 0.55);*/
}
