$clr-primary: steelblue;
$clr-accent: #4183d7;


.container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 1rem auto;
}

.input {
  background-color: white;
  position: relative;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  width: 90%;
  height: 3rem;
  margin: 0 auto;
  padding: 0.75em 1.25em;
  border: 1px solid #aaa;
  border-radius: 2em;
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: none;
  }
}
.suggestionsContainer {
  ul {
    padding-left: 0;
    margin-left: 5%;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }

  position: relative;
  left: 1.5rem;

  width: 80%;
  max-height: 300px;
  overflow-y: scroll;
  visibility: hidden;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.suggestionsContainerOpen {
  display: block;
  visibility: visible;
}

.suggestion {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.suggestionHighlighted {
  display: block;
}
.search {
  background-color: transparent;
  border: 0px;
  width: 90%;
  margin: 0 auto;
  padding: 0.75em 0em;
  box-sizing: border-box;
  outline: none;
  &:focus {
    outline: none;
  }
}
