$clr-primary: steelblue;

// Todo style this Autosuggest

.container {
   width: 100%;
   height: auto;
   position: relative;
   margin: 10px auto;
 }
.input {
    display: block;
    width: 100%;
    height: 4em;
    padding: 1em 1.5em;
    border: 1px solid #aaa;
	border-radius: 2em;
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: none;
    //border: 1px solid $clr-primary;
  }

  }
.suggestionsContainer {
  width: 90%;
  max-height: 300px;
  overflow-y: scroll;
visibility: hidden
  }

.suggestionsContainerOpen {
display: block;
visibility: visible;
}

.suggestion {
    list-style: none;
    padding: 0px;
    margin: 0;
 }
.suggestionHighlighted {display: block;  }
